.main {
    border: 2px solid red;
    width: 500px;
    min-height: 300px;

    position: relative;
}

.side-links {
    margin: 10px;
}

.box {
    position: absolute;
    bottom: 10px; 
    left: 10px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(240, 23, 240);
}


.bottom-right {
    position: absolute;
    bottom: 10px; 
    right: 10px;
}